@import url("mobile_accueil.css") (max-width: 767px);
@import url("tab_accueil.css") (min-width: 768px) AND (max-width: 991px);
@import url("desktop_accueil.css") (min-width: 992px);



main{
    font-family: 'Roboto', sans-serif;
}
section{
    width: 100%;
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* section header*/

header{
    width: 100%;
    height: auto;
}

/*animation*/




/*animation button hover*/
.btn_anim:hover , .btn_anim:active{
    transform: scale(1.05);
    transition-duration: 800ms;
    background: linear-gradient(355deg, rgba(30,0,36,1) 0%, rgba(201,0,255,1) 0%, rgba(201,10,242,1) 5%, rgba(204,66,166,1) 12%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



/*animation cards hover*/
.card_anim:hover , .card_anim:active{
    transform: scale(1.08);
    transition-duration: 400ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*animation text hover*/
.text_anim:hover{
    transform: scale(1.04);
    transition-duration: 400ms;
}



/*animation loader*/


.loading{
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9;   
    animation: loader 3s ease 1 normal  both;
}


.loader{
    display: flex;
    font-family: 'Shrikhand';
    align-content: center;
    justify-content: space-between;
    z-index: 10;
    animation: loader 3s ease 0.2s normal both;
}


.oh{
    font-size: xx-large;
    color: #9356DC;
    animation: loading 0.5s ease-in-out infinite both;
    border-bottom: 1px solid #9356DC;
    width: 20%;
}

.my{
    font-size: xx-large;
    color: #FF79DA;
    animation: loading 0.5s ease-in-out 0.1s infinite both;
    border-bottom: 1px solid #FF79DA;
    width: 20%;
}

.food{
    font-size: xx-large;
    color: #99E2D0;
    animation: loading 0.5s ease-in-out 0.2s infinite both;
    border-bottom: 1px solid #99E2D0;
    width: 20%;
}


@keyframes loader {
    0%,
    50% {
      opacity: 1;
    }

    65% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.5;
    }

    85% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loading {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
    }

    70%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
  }



/*animation heart*/

.fa-heart{
    color: black;
} 

.fa-heart:hover , .fa-heart:hover{
    transform: scale(1.3);
    background:linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    color:transparent;
    font-weight: bold;
    animation: heart 1s ease-in;
    transition-duration: 600ms;
}

@keyframes heart {
    0% {
      opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }
