/*section header*/


.head_nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.return{
    width: 10%;
    margin-left: 5%;
    font-size: large;
}

.fa-arrow-left{
    font-size: xx-large;
    margin-left: 5%;
    padding-right: 20%;
}

.logo{
    width: 20%;
    margin-left: 25%;
}

.logo_header{
    width: 100%;
}

/*img*/

img{
    width: 100%;
    height: auto;
}

.img_restaurant{
    width: 100%;
}

/*setion menu*/

#restaurant{
    background-color: #faf9f8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    top: 60%;
}


#title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf9f8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
}

.first_title{
    margin-left: 5%;
    font-family: 'Shrikhand';
    font-size: 38px;
    font-weight: 400;
}

.fa-heart{
    margin-right: 10%;
    font-size: xx-large;
}

#menu{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-around;
    background-color: #faf9f8;
}

.compo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33%;
}

.second_title{
    font-size: 100%;
    width: 10%;
    height: 25px;
    border-bottom: 3px #a6e5d5 solid;
}


.cards_menu{
    display: flex;
    flex-direction: column;
}

.card_menu{
    display: flex;
    align-items: flex-end;
    background-color: white;
    width: 80%;
    height: 70px;
    margin-left: 10%;
    margin-bottom: 5%;
    line-height: 5px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_title{
    display: flex;
    flex-direction: column;
    font-size: 70%;
    margin-left: 5%;
    line-height: 10%;
    width: 80%;
    height: 60px;
    margin-left: 5%;
}

.detail_menu{
    display: flex;
    font-size: 14px;
    margin-top: 0;
    line-height: 20px;
}

.card_price{
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    height: 100%;
    font-weight: bold;
}

#commander{
    background-color: #faf9f8;
}

.commander_btn{
    width: 20%;
    height: 50px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(355deg, rgba(30,0,36,1) 0%, rgba(201,0,255,1) 6%, rgba(201,10,242,1) 17%, rgba(204,66,166,1) 79%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

/*section footer*/

#footer{
    background-color: #353535;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 5%;
    color: white;
    padding-bottom: 10%;
    line-height: 5%;
}

.logo_footer{
    width: 20%;
    padding-bottom: 5%;
}

.footer_select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    line-height: 15px;
}

.proposition{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.fa-utensils{
    margin-right: 5%;
}

.fa-hands-helping{
    margin-right: 5%;
}

.partenaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.a_footer{
    color: white;
    text-decoration: none;
}