@import url("mobile_pages.css") (max-width: 767px);
@import url("tab_pages.css") (min-width: 768px) AND (max-width: 991px);
@import url("desktop_pages.css") (min-width: 992px);



main{
    font-family: 'Roboto', sans-serif;
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

section{
    width: 100%;
}
